<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="PCshop" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Studying\Практика\task3\task3\PCShop.mdf;Integrated Security=True" />
  <add name="task3.Properties.Settings.PCShopConnectionString"
   connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\PCShop.mdf;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>